body{
    background-color: grey;
}

.root-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    gap: 10%;
}

/* .intersting-events{
    height: 30vh;
} */

.League-Box{
    display: flex;
    border: 8px solid Black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); 
    border-radius: 20px;

    width: 15rem;
    height: 15rem;
    max-width: 40rem;
    max-height: 35rem;
    justify-content: center;
    align-items: center;
}

.league-icon{
    max-width: 80%;
    max-height: 100%;
}